@import "tailwindcss";

/* Hide default password reveal icon in Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Hide appearance in Chrome/Safari */
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dashboard-column::-webkit-scrollbar {
  width: 6px;
}
.dashboard-column::-webkit-scrollbar-track {
  background: #000000;
}
.dashboard-column::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind's gray-400 */
  border-radius: 9999px;
}
