@import "tailwindcss";

/* Hide default password reveal icon in Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Hide appearance in Chrome/Safari */
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
